.lsq-data-group {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
  }
  &.lsq-data-group_type1 {
    .row {
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 67px;
        width: 142px;
        padding: 0 13px;
        box-sizing: border-box;
        background: url('./assets/itemBac1.png') no-repeat;
        background-size: 100% 100%;
        &.item_empty {
          background: none;
        }
        .name {
          font-size: 16px;
          font-family: MicrosoftYaHei;
          color: #bae1ff;
          line-height: 21px;
          margin-bottom: 4px;
        }
        .value-wrap {
          display: flex;
          align-items: flex-end;
        }
        .value {
          font-size: 22px;
          font-family: DFPLiJinHeiW8;
          color: #6bffdb;
          line-height: 22px;
        }
        .unit {
          margin-left: 4px;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: #ffffff;
          line-height: 19px;
        }
      }
    }
  }
  &.lsq-data-group_circle {
    .item {
      display: flex;
      flex-direction: column;
      .value-wrap {
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        .value {
          font-size: 22px;
          font-family: MicrosoftYaHeiSemibold;
          color: #1accff;
          line-height: 32px;
        }
        .unit {
          font-size: 12px;
          color: #fff;
        }
      }
      .name {
        text-align: center;
        margin-top: 8px;
        font-size: 14px;
        font-family: MicrosoftYaHeiSemibold;
        color: #d8ebff;
        line-height: 19px;
      }
    }
  }
  &.lsq-data-group_type2 {
    .item {
      width: 91px;
      .value-wrap {
        padding-top: 10px;
        width: 91px;
        height: 76px;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        background: url('./assets/itemBac2.png') no-repeat;
        background-size: 100% 100%;
        .unit {
          margin-left: 4px;
        }
      }
    }
  }
  &.lsq-data-group_type3 {
    .item {
      width: 95px;
      .value-wrap {
        width: 95px;
        height: 95px;
        padding-top: 0;
        justify-content: center;
        background: url('./assets/itemBac3.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  &.lsq-data-group_type4 {
    .item {
      width: 95px;
      .value-wrap {
        width: 95px;
        height: 95px;
        padding-top: 0;
        justify-content: center;
        background: url('./assets/itemBac4.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}
